.global{

}

.option_btn{
  
    &.option_not_available{
        background-color: brown;
    }

    &.selected{
        background-color: blue !important;
    }

    &.with_thumnail{
        background-color: green;
    }
}